*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --text-color:#8b8b8b;
    --big-text-color:#333333;
    --text-hover-color:#e34444;
    --header-height:40px;
}
@font-face {
    src: url(../font/Poppins-Regular.ttf);
    font-family: poppins;
}
html{
    font-family: poppins;
    font-size: 62.5%;
}
.color-hover{
    color: var(--text-hover-color) !important;
}
