/*pc and tablet*/
@media (min-width: 740px){
    .hide-on-pc-tablet{
        display: none;
    }
}
/*tablet and mobile*/
@media (max-width: 1023px){
    .hide-on-tablet-mobile{
        display: none;
    }
    .header-cart-wrap {
        text-align: right;
        width: 60px;
    }
    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }
    .contain{
        margin-top: calc( var(--header-height) + var(--sort-bar-mt-height));
        padding-top: 0px;
    }
    .header-cart{
        -webkit-tap-highlight-color: transparent;
    }
    .cart__list{
        position: fixed;
    top: 68px;
    left: 0;
    width: 100%;
     right: 0;
     padding: 0 calc((100% - 644px) / 2);
     transform-origin:  top;
    }

    .cart__list::before{
        display: none;
    }
    .close-item-cart{
        display: block;
    }
    .sort-bar-mt{
        display: block;
        z-index: 1;
    }
    .catelory-mt{
        display: block;
    }
    
}

/*tablet */
@media(min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
  
    .search__box{
        margin-top: 0;
    }
    .logo{
        width: 172px;
    }
    .search-history{
        width: 466px;
    }
    .logo__shopee{
        width: 129px;
    }
    .cart__list-number-has-cart {
        top: -3px;
        right: -10px;
    }
    :root{
        --header-height:68px;
        --nav-height:0px;
    }
}

/*mobile*/
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    .header-under{
        justify-content: space-between;
        padding: 20px;
    }
    .logo{
        width: unset;
    }
    .logo__shopee {
        margin-left: 31px;
        width: 114px;
    }
    .search-mobile-icon-swap{
        display: block;
    }
    .cart__icon{
        font-size: 2em !important;
    }
    .search-mobile-icon i{
        font-size: 2.2em !important;
    }
    .cart__list-number-has-cart {
        top: -3px;
        right: -10px;
        height: 19px;
        width: 22px;
    }
    .cart__list{
        top: 55px;
    }
    .search__box{
        margin: 3px;
    }
    .search-history{
        top: calc(100% + 3px);
        left: -3px;
        width: 110%;
    }
    .product{
        margin: 0 10px;
    }
    .app{
        overflow: hidden;
    }
    .pagination__link {
        font-size: 1.6em;
        margin: 0 2px;
    }
    .pagination-under-product-home {
        margin: 34px 0;
    }
    .footer-content{
        text-align: center;
        display: block;
        margin-bottom: 24px;
    }
    :root{
        --min-width-name-page:36px;
        --header-height:54px;
        --nav-height:0px;
    }
    .margin-footer-content-mobile{
        margin-left: 25%;
    }
    
}
@keyframes searchMobileSideIn {
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}